
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

header {
    height: 120px;
}

.header {
    max-width: 1300px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 470px;
}

.logoimg {
    height: 53px;
    width: 451px;
}

/* HEADER MENU */

.menu {
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    height: 120px;
    align-items: center;
    border-bottom: 5px solid white;
}

.menu li a:hover {
    border-bottom: 5px solid rgb(43, 43, 43);
    transition: 0.5s;
}

.menu .active a {
    border-bottom: 5px solid rgb(43, 43, 43);
}

/* MAIN */

main {
    border-top: solid 2px rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    align-items: center;
    margin: 60px;
}

.container section {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container h1 {
    font-size: 55px;
}

/* FOOTER */

.footer-container{
    background-color: #414141;
    height: 250px;
    padding: 60px;
    display: flex;
    justify-content: center;
}

.footer{
    width: 90%;
    height: 150px;
    background-color: #414040;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;;
}

.footer img {
    width: 150px;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h2 {

    margin-bottom: 2rem;
    text-transform: uppercase;

}


.footer-heading ul{
    list-style: none;
}
.footer-heading li {
    color: #ffffffa6;
    
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{
    color: #fff;
    cursor: pointer;

}

.footer-heading a {
    color:#ffffffa6 ;
    text-decoration: none;
}