

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

header {
    height: 120px;
}

.header {
    max-width: 1300px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 470px;
}

.logoimg {
    height: 53px;
    width: 451px;
}

/* HEADER MENU */

.menu {
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    height: 120px;
    align-items: center;
    border-bottom: 5px solid white;
}

.menu li a:hover {
    border-bottom: 5px solid rgb(43, 43, 43);
    transition: 0.5s;
}

.menu .active a {
    border-bottom: 5px solid rgb(43, 43, 43);
}

/* MAIN */

.banner {
    height:calc(800px - 100px);
    background-color: rgb(69, 69, 69);
    background-image: url('../images/Background2.jpg');
    background-size: cover;
}

.gradient {
    background-image: linear-gradient(140deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.784), rgba(0, 0, 0, 0));
    background-size: cover;
    height: inherit;
}

.introduction {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 700px;
    justify-content: flex-start;
    padding: 60px;
    padding-top: 130px
}

.inttext {
    color: white;
    font-family: "Inter", sans-serif;
}

.inttext h1 {
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 20px;
}

.inttext p {
    font-size: 24px;
    font-weight: 200;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 15px;
    
}

.buttons {
    display: flex;
}

.buttons button {
    text-transform: uppercase;
    background-color: rgba(240, 248, 255, 0);
    border: solid, 2px, white;
    border-radius: 20px;
    font-family:"Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 30px;
    margin-top: 30px;
}

.operation {
    padding: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Inter", sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
    border-bottom: solid 2px black;
}

.content {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px black;
}


.list div {
    margin-top: 30px;
    margin-bottom: 30px;
}


.content div h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.content div p {
    color: rgb(58, 58, 58);
}

span {
    font-weight: bold;
}